@{
    ViewBag.Title = "Recover Password";
}

@model GatewayZ.Models.User


<div class="container-fluid RecoverPasswordContainer">
    <div class="row">
        <div class="col-xs-2 col-md-4">
        </div>
        <div class="col-xs-8" id="RecoverPasswordBackground">
            <div id="RecoverPasswordHeader">
                <h1>Recover Password</h1>
            </div>

            <div class="centerForm">
                <form class="form-horizontal" role="form" method="post">
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.LabelFor(model => model.email, new { @class = "control-label col-xs-2" })
                        <div class="col-xs-10">
                            @Html.TextBoxFor(model => model.email, new { @class = "form-control" })
                            <span style="color:red">@Html.ValidationMessageFor(model => model.email)</span>
                        </div>
                    </div>

                    <div class="form-group">
                        @{
                            List<SelectListItem> question1 = new List<SelectListItem>();
                            question1.Add(new SelectListItem
                            {
                                Text = "What is your favorite color?",
                                Value = "What is your favorite color?"
                            });
                            question1.Add(new SelectListItem
                            {
                                Text = "What city were you born in?",
                                Value = "What city were you born in?",
                            });
                            question1.Add(new SelectListItem
                            {
                                Text = "What is your mother's maiden name?",
                                Value = "What is your mother's maiden name?"
                            });
                            question1.Add(new SelectListItem
                            {
                                Text = "What was your Elementry school name?",
                                Value = "What was your Elementry school name?"
                            });
                        }

                        @Html.LabelFor(model => model.securityQuestionOne, new { @class = "control-label col-xs-2" })
                        <div class="col-xs-10">
                            @Html.DropDownListFor(model => model.securityQuestionOne, question1, "-- Select a Security Question --")
                            <span style="color:red">@Html.ValidationMessageFor(model => model.securityQuestionOne)</span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.answerOne, new { @class = "control-label col-xs-2" })
                        <div class="col-xs-10">
                            @Html.TextBoxFor(model => model.answerOne, new { @class = "form-control" })
                            <span style="color:red">@Html.ValidationMessageFor(model => model.answerOne)</span>
                        </div>
                    </div>

                    <div class="form-group">
                        @{
                            List<SelectListItem> question2 = new List<SelectListItem>();
                            question2.Add(new SelectListItem
                            {
                                Text = "What is your favorite color?",
                                Value = "What is your favorite color?"
                            });
                            question2.Add(new SelectListItem
                            {
                                Text = "What city were you born in?",
                                Value = "What city were you born in?",
                            });
                            question2.Add(new SelectListItem
                            {
                                Text = "What is your mother's maiden name?",
                                Value = "What is your mother's maiden name?"
                            });
                            question2.Add(new SelectListItem
                            {
                                Text = "What was your Elementry school name?",
                                Value = "What was your Elementry school name?"
                            });
                        }

                        @Html.LabelFor(model => model.securityQuestionTwo, new { @class = "control-label col-xs-2" })
                        <div class="col-xs-10">
                            @Html.DropDownListFor(model => model.securityQuestionTwo, question2, "-- Select a Security Question --")
                            <span style="color:red">@Html.ValidationMessageFor(model => model.securityQuestionTwo)</span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.answerTwo, new { @class = "control-label col-xs-2", @style = "text-align:left" })
                        <div class="col-xs-10">
                            @Html.TextBoxFor(model => model.answerTwo, new { @class = "form-control" })
                            <span style="color:red">@Html.ValidationMessageFor(model => model.answerTwo)</span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.password, new { @class = "control-label col-xs-3" })
                        <div class="col-xs-7">
                            @Html.PasswordFor(model => model.password, new { @class = "form-control" })
                        </div>

                        <div>
                            <span class="help-inline pull-left" style="color:red">@Html.ValidationMessageFor(model => model.password)</span>
                        </div>
                    </div>

                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
