@{
    ViewBag.Title = "History Page";
}

<script>
    $(document).ready(function () {
        $("#accordion > li > div").click(function () {

            if (false == $(this).next().is(':visible')) {
                $('#accordion ul').slideUp(300);
            }
            $(this).next().slideToggle(300);
        });

        $('#accordion ul:eq(0)').show();
    });
</script>

<div id="background">
    <img src="~/Images/370znismo.jpg" alt="bgimage" />
</div>

    <div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4">
            <ul id="accordion">
                <li>
                    <div>2002</div>
                    <ul>
                        <li><a href="~/App/Gallery2002">The Best of 2002 | Files:(@ViewBag.fileCount2002Folder) Last Modified:(@ViewBag.file2002ModifiedDate)</a></li>
                    </ul>
                </li>
                <li>
                    <div>2003</div>
                    <ul>
                        <li><a href="#">Car Show | Files:(@ViewBag.fileCount2003Folder) Last Modified:(@ViewBag.file2003ModifiedDate)</a></li>
                        <li><a href="#">Branson Z Fest</a></li>
                        <li><a href="#">Club Christmas Party</a></li>
                        <li><a href="#">Lone Elk Park Picnic</a></li>
                        <li><a href="#">St. Gen Trip</a></li>
                    </ul>
                </li>
                <li>
                    <div>2004</div>
                    <ul>
                        <li><a href="#">Branson Z Fest | Files:(@ViewBag.fileCount2004Folder) Last Modified:(@ViewBag.file2004ModifiedDate)</a></li>
                        <li><a href="#">Christmas Party</a></li>
                        <li><a href="#">Drag Racing</a></li>
                        <li><a href="#">Hermannhof Winery Tour</a></li>
                        <li><a href="#">Kansas City Z Fest</a></li>
                        <li><a href="#">Lone Elk Park Picnic</a></li>
                    </ul>
                </li>
                <li>
                    <div>2005</div>
                    <ul>
                        <li><a href="#">Branson Z Fest | Files:(@ViewBag.fileCount2005Folder) Last Modified:(@ViewBag.file2005ModifiedDate)</a></li>
                        <li><a href="#">Lone Elk Park Picnic</a></li>
                    </ul>
                </li>
                <li>
                    <div>2006</div>
                    <ul>
                        <li><a href="#">Branson Z Fest | Files:(@ViewBag.fileCount2006Folder) Last Modified:(@ViewBag.file2006ModifiedDate)</a></li>
                        <li><a href="#">Fast Eddies</a></li>
                        <li><a href="#">Midwest Z Fest</a></li>
                        <li><a href="#">Mules BBQ</a></li>
                    </ul>
                </li>
                <li>
                    <div>2007</div>
                    <ul>
                        <li><a href="#">River Road Cruize/Fast Eddies | Files:(@ViewBag.fileCount2007Folder) Last Modified:(@ViewBag.file2007ModifiedDate)</a></li>
                        <li><a href="#">Stop And Smell The Roses</a></li>
                        <li><a href="#">Christmas Party</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="container-fluid">
            <div class="col-xs-6 col-sm-6 col-md-8">
                <div class="HistoryContent">
                    <h2>STL GatewayZ History</h2>
                    <p>When in the course of human events, it becomes necessary for one people to dissolve the political bands which have connected them with another, and to assume among the powers of the earth, the separate and equal station to which the laws of nature and of nature's God entitle them, a decent respect to the opinions of mankind requires that they should declare the causes which impel them to the separation.</p>

                    <p>We hold these truths to be self-evident:That all men are created equal; that they are endowed by their Creator with certain unalienable rights; that among these are life, liberty, and the pursuit of happiness; that, to secure these rights, governments are instituted among men, deriving their just powers from the consent of the governed; that whenever any form of government becomes destructive of these ends, it is the right of the people to alter or to abolish it, and to institute new government, laying its foundation on such principles, and organizing its powers in such form, as to them shall seem most likely to affect their safety and happiness.</p>
                </div>
            </div>
        </div>
        @*<div class="container-fluid">
         <div class="row">
                <div class="col-md-offset-1 col-xs-10">*@
                    <div id="Historytimeline">
                        <div class="timelineimages">
                            <ul class="TLP">                                                              
                                   <li><img src="~/Images/Zcar1.jpg" class="img-circle" id="Time1" style="border:3px solid black" /></li>
                                   <li><img src="~/Images/Zcar2.jpg" class="img-circle" id="Time2" style="border:3px solid black" /></li>
                                   <li><img src="~/Images/Zcar3.jpg" class="img-circle" id="Time3" style="border:3px solid black" /></li>
                                   <li><img src="~/Images/Zcar4.jpg" class="img-circle" id="Time4" style="border:3px solid black" /></li>
                                   <li><img src="~/Images/logoPS.png" class="img-circle" id="Time5" style="border:3px solid black" /></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        @*</div>
    </div>
</div>*@
      

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
     
