@{
    ViewBag.Title = "History Page";
}

<script>
    $(document).ready(function () {
        //var accordian = document.getElementById("accordion");
        $('.Timedata').hide();

        $("#Time1").click(function () {
            $("#Clubhistorytext").hide();
            $(".Timedata").hide();
            $("#Time1data").fadeIn(2000);
           
        });

       

        $("#Time2").click(function () {
            $("#Clubhistorytext").hide();
            $(".Timedata").hide();
            $("#Time2data").fadeIn(2000);

        });

        $("#Time3").click(function () {
            $("#Clubhistorytext").hide();
            $(".Timedata").hide();
            $("#Time3data").fadeIn(2000);

        });

        $("#Time4").click(function () {
            $("#Clubhistorytext").hide();
            $(".Timedata").hide();
            $("#Time4data").fadeIn(2000);

        });

        $("#Time5").click(function () {
            $("#Clubhistorytext").hide();
            $(".Timedata").hide();
            $("#Time5data").fadeIn(2000);

        });


        $("#accordion > li > div").click(function () {

            if (false == $(this).next().is(':visible')) {
                $('#accordion ul').slideUp(300);
            }
            $(this).next().slideToggle(300);
        });

        $('#accordion ul:eq(0)').show();
    });

  
</script>

<div id="background">
    <img src="~/Images/370znismo.jpg" alt="bgimage" />
</div>

    <div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4">
            <ul id="accordion">
                <li>
                    <div>2002</div>
                    <ul>
                        <li><a href="~/App/Gallery2002">The Best of 2002 | Files:(@ViewBag.fileCount2002Folder) Last Modified:(@ViewBag.file2002ModifiedDate)</a></li>
                    </ul>
                </li>
                <li>
                    <div>2003</div>
                    <ul>
                        <li><a href="#">Car Show | Files:(@ViewBag.fileCount2003Folder) Last Modified:(@ViewBag.file2003ModifiedDate)</a></li>
                        <li><a href="#">Branson Z Fest</a></li>
                        <li><a href="#">Club Christmas Party</a></li>
                        <li><a href="#">Lone Elk Park Picnic</a></li>
                        <li><a href="#">St. Gen Trip</a></li>
                    </ul>
                </li>
                <li>
                    <div>2004</div>
                    <ul>
                        <li><a href="#">Branson Z Fest | Files:(@ViewBag.fileCount2004Folder) Last Modified:(@ViewBag.file2004ModifiedDate)</a></li>
                        <li><a href="#">Christmas Party</a></li>
                        <li><a href="#">Drag Racing</a></li>
                        <li><a href="#">Hermannhof Winery Tour</a></li>
                        <li><a href="#">Kansas City Z Fest</a></li>
                        <li><a href="#">Lone Elk Park Picnic</a></li>
                    </ul>
                </li>
                <li>
                    <div>2005</div>
                    <ul>
                        <li><a href="#">Branson Z Fest | Files:(@ViewBag.fileCount2005Folder) Last Modified:(@ViewBag.file2005ModifiedDate)</a></li>
                        <li><a href="#">Lone Elk Park Picnic</a></li>
                    </ul>
                </li>
                <li>
                    <div>2006</div>
                    <ul>
                        <li><a href="#">Branson Z Fest | Files:(@ViewBag.fileCount2006Folder) Last Modified:(@ViewBag.file2006ModifiedDate)</a></li>
                        <li><a href="#">Fast Eddies</a></li>
                        <li><a href="#">Midwest Z Fest</a></li>
                        <li><a href="#">Mules BBQ</a></li>
                    </ul>
                </li>
                <li>
                    <div>2007</div>
                    <ul>
                        <li><a href="#">River Road Cruize/Fast Eddies | Files:(@ViewBag.fileCount2007Folder) Last Modified:(@ViewBag.file2007ModifiedDate)</a></li>
                        <li><a href="#">Stop And Smell The Roses</a></li>
                        <li><a href="#">Christmas Party</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="container-fluid">
            <div class="col-xs-6 col-sm-6 col-md-8">
                <div class="HistoryContent">
                   
                    <div id="Clubhistorytext">
                        <div class="Timepicadd"></div>
                        <h2>STL GatewayZ History</h2>
                        <p>When in the course of human events, it becomes necessary for one people to dissolve the political bands which have connected them with another, and to assume among the powers of the earth, the separate and equal station to which the laws of nature and of nature's God entitle them, a decent respect to the opinions of mankind requires that they should declare the causes which impel them to the separation.</p>

                        <p>We hold these truths to be self-evident:That all men are created equal; that they are endowed by their Creator with certain unalienable rights; that among these are life, liberty, and the pursuit of happiness; that, to secure these rights, governments are instituted among men, deriving their just powers from the consent of the governed; that whenever any form of government becomes destructive of these ends, it is the right of the people to alter or to abolish it, and to institute new government, laying its foundation on such principles, and organizing its powers in such form, as to them shall seem most likely to affect their safety and happiness.</p>
                    </div>
                    
                    <div class="Timedata" id="Time1data">                        
                             <img src="~/Images/Zcar1.jpg" class="img-circle Timepicadd" style="border:3px solid red" />                        
                        <p>1Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam imperdiet sollicitudin erat, non euismod nulla pellentesque et. Nunc sollicitudin odio a ipsum tempor interdum ut vel orci. Curabitur sed diam feugiat, tempus ante quis, vestibulum justo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus eu quam mauris. Duis dapibus dapibus lacus et scelerisque. Sed tellus est, elementum eget turpis ac, condimentum rhoncus felis. Quisque vitae tortor sit amet nisi pretium ornare sit amet ut nisi. Quisque elementum ligula vitae leo volutpat sollicitudin. Phasellus at metus eros. Phasellus placerat, dolor ac consequat porttitor, urna nisi pellentesque libero, lacinia iaculis ante velit non neque. Aliquam ullamcorper mauris ac eros pretium luctus. Aenean vestibulum sagittis consectetur. Sed a rhoncus risus, vel lacinia ex.</p>
                        <p>3434Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam imperdiet sollicitudin erat, non euismod nulla pellentesque et. Nunc sollicitudin odio a ipsum tempor interdum ut vel orci. Curabitur sed diam feugiat, tempus ante quis, vestibulum justo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus eu quam mauris. Duis dapibus dapibus lacus et scelerisque. Sed tellus est, elementum eget turpis ac, condimentum rhoncus felis. Quisque vitae tortor sit amet nisi pretium ornare sit amet ut nisi. Quisque elementum ligula vitae leo volutpat sollicitudin. Phasellus at metus eros. Phasellus placerat, dolor ac consequat porttitor, urna nisi pellentesque libero, lacinia iaculis ante velit non neque. Aliquam ullamcorper mauris ac eros pretium luctus. Aenean vestibulum sagittis consectetur. Sed a rhoncus risus, vel lacinia ex.</p>
                     </div>

                    <div class="Timedata" id="Time2data">
                        <img src="~/Images/Zcar2.jpg" class="img-circle Timepicadd"  style="border:3px solid red" />
                        <p>2Nunc in libero sit amet massa aliquam porttitor in quis nunc. Praesent convallis consequat sodales. Quisque eget malesuada lectus. Pellentesque vitae nisi eu nisl pellentesque condimentum vel faucibus ex. Integer dapibus, est ac commodo fringilla, ante elit efficitur sapien, in interdum neque ipsum in ante. Sed eget molestie arcu. Sed arcu urna, aliquam et enim sit amet, dignissim facilisis ex. Ut tristique velit et metus congue varius. Proin tempus sit amet lorem ac dapibus. Aliquam auctor nibh mauris, vel aliquam sem pellentesque sed. Vestibulum tempus suscipit odio.</p>
                        <p>67676Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam imperdiet sollicitudin erat, non euismod nulla pellentesque et. Nunc sollicitudin odio a ipsum tempor interdum ut vel orci. Curabitur sed diam feugiat, tempus ante quis, vestibulum justo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus eu quam mauris. Duis dapibus dapibus lacus et scelerisque. Sed tellus est, elementum eget turpis ac, condimentum rhoncus felis. Quisque vitae tortor sit amet nisi pretium ornare sit amet ut nisi. Quisque elementum ligula vitae leo volutpat sollicitudin. Phasellus at metus eros. Phasellus placerat, dolor ac consequat porttitor, urna nisi pellentesque libero, lacinia iaculis ante velit non neque. Aliquam ullamcorper mauris ac eros pretium luctus. Aenean vestibulum sagittis consectetur. Sed a rhoncus risus, vel lacinia ex.</p>
                    </div>

                    <div class="Timedata" id="Time3data">
                        <img src="~/Images/Zcar3.jpg" class="img-circle Timepicadd"  style="border:3px solid red" />
                        <p>3Curabitur gravida lacus in urna ultricies, sed viverra ex luctus. Ut laoreet rhoncus purus vitae accumsan. Maecenas non interdum ipsum. Integer mattis ligula justo, ac tempus dui sollicitudin quis. Suspendisse lobortis tristique cursus. Donec quis sapien at est fringilla pulvinar quis eu ante. Curabitur lobortis, elit et hendrerit volutpat, mauris arcu pharetra tellus, at venenatis justo nulla vel nunc. Nullam bibendum malesuada laoreet. Mauris in risus eu tortor efficitur dapibus. Praesent sit amet enim quis lectus efficitur pharetra a eget quam. Aliquam aliquet neque pulvinar nibh tincidunt congue.</p>
                        <p>5454342Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam imperdiet sollicitudin erat, non euismod nulla pellentesque et. Nunc sollicitudin odio a ipsum tempor interdum ut vel orci. Curabitur sed diam feugiat, tempus ante quis, vestibulum justo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus eu quam mauris. Duis dapibus dapibus lacus et scelerisque. Sed tellus est, elementum eget turpis ac, condimentum rhoncus felis. Quisque vitae tortor sit amet nisi pretium ornare sit amet ut nisi. Quisque elementum ligula vitae leo volutpat sollicitudin. Phasellus at metus eros. Phasellus placerat, dolor ac consequat porttitor, urna nisi pellentesque libero, lacinia iaculis ante velit non neque. Aliquam ullamcorper mauris ac eros pretium luctus. Aenean vestibulum sagittis consectetur. Sed a rhoncus risus, vel lacinia ex.</p>
                    </div>

                    <div class="Timedata" id="Time4data">
                        <img src="~/Images/Zcar4.jpg" class="img-circle Timepicadd"  style="border:3px solid red" />
                        <p>4Proin faucibus feugiat ornare. Sed iaculis magna ut elit dapibus ornare. Quisque at sapien pellentesque, maximus purus quis, laoreet urna. Suspendisse mi risus, aliquet sit amet diam ut, convallis consequat lectus. Morbi vestibulum velit metus, vitae placerat libero euismod sit amet. Praesent faucibus egestas est quis auctor. Nulla quis nibh vestibulum, dapibus nulla quis, pellentesque nunc. In at lacinia elit, et sagittis nulla.</p>
                        <p>0009876Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam imperdiet sollicitudin erat, non euismod nulla pellentesque et. Nunc sollicitudin odio a ipsum tempor interdum ut vel orci. Curabitur sed diam feugiat, tempus ante quis, vestibulum justo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus eu quam mauris. Duis dapibus dapibus lacus et scelerisque. Sed tellus est, elementum eget turpis ac, condimentum rhoncus felis. Quisque vitae tortor sit amet nisi pretium ornare sit amet ut nisi. Quisque elementum ligula vitae leo volutpat sollicitudin. Phasellus at metus eros. Phasellus placerat, dolor ac consequat porttitor, urna nisi pellentesque libero, lacinia iaculis ante velit non neque. Aliquam ullamcorper mauris ac eros pretium luctus. Aenean vestibulum sagittis consectetur. Sed a rhoncus risus, vel lacinia ex.</p>
                    </div>

                    <div class="Timedata" id="Time5data">
                        <img src="~/Images/2014_nissan_370z_nismo_2-wide.jpg" class="img-circle Timepicadd"  style="border:3px solid red" />
                        <p>5Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean libero magna, laoreet tempor arcu sed, laoreet consequat lectus. Morbi porttitor neque id sem eleifend sollicitudin. Praesent volutpat tellus at sapien fringilla laoreet. Donec sed libero id tortor viverra lobortis. Sed placerat ut mi a venenatis. Aenean a leo quis justo sodales condimentum id vitae ante. Praesent id ex lectus.</p>
                        <p>13432431Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam imperdiet sollicitudin erat, non euismod nulla pellentesque et. Nunc sollicitudin odio a ipsum tempor interdum ut vel orci. Curabitur sed diam feugiat, tempus ante quis, vestibulum justo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus eu quam mauris. Duis dapibus dapibus lacus et scelerisque. Sed tellus est, elementum eget turpis ac, condimentum rhoncus felis. Quisque vitae tortor sit amet nisi pretium ornare sit amet ut nisi. Quisque elementum ligula vitae leo volutpat sollicitudin. Phasellus at metus eros. Phasellus placerat, dolor ac consequat porttitor, urna nisi pellentesque libero, lacinia iaculis ante velit non neque. Aliquam ullamcorper mauris ac eros pretium luctus. Aenean vestibulum sagittis consectetur. Sed a rhoncus risus, vel lacinia ex.</p>
                    </div>



                 </div>
            </div>
        </div>
       
                    <div id="Historytimeline">
                        <div class="timelineimages">
                                                                                        
                                 <img src="~/Images/Zcar1.jpg" class="img-circle Tpic" id="Time1" style="border:3px solid black" />
                                   <img src="~/Images/Zcar2.jpg" class="img-circle Tpic" id="Time2" style="border:3px solid black" />
                                  <img src="~/Images/Zcar3.jpg" class="img-circle Tpic" id="Time3" style="border:3px solid black" />
                                   <img src="~/Images/Zcar4.jpg" class="img-circle Tpic" id="Time4" style="border:3px solid black" />
                                   <img src="~/Images/2014_nissan_370z_nismo_2-wide.jpg" class="img-circle Tpic" id="Time5" style="border:3px solid black" />
                           
                        </div>
                    </div>
                </div>
            </div>
     
      

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
     
