@{
    ViewBag.Title = "Register Page";
}

@model GatewayZ.Models.User

<div class="RecoverPasswordBackground">

    <h1>Register Account</h1>

    <div class="centerForm">
        @Html.ValidationSummary()
        <form class="form-horizontal" role="form" method="post">
            <div class="form-group">
                @Html.LabelFor(model => model.firstName, new { @class = "control-label col-xs-2" })
                <div class="col-xs-10">
                    @Html.EditorFor(model => model.firstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.firstName)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.lastName, new { @class = "control-label col-xs-2" })
                <div class="col-xs-10">
                    @Html.EditorFor(model => model.lastName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.email, new { @class = "control-label col-xs-2" })
                <div class="col-xs-10">
                    @Html.EditorFor(model => model.email, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.phoneNumber, new { @class = "control-label col-xs-2" })
                <div class="col-xs-10">
                    @Html.EditorFor(model => model.phoneNumber, new { @class = "form-control"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.displayName, new { @class = "control-label col-xs-2" })
                <div class="col-xs-10">
                    @Html.EditorFor(model => model.displayName, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.password, new { @class = "control-label col-xs-2" })
                <div class="col-xs-2">
                    @Html.PasswordFor(model => model.password, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @{
                    List<SelectListItem> question1 = new List<SelectListItem>();
                    question1.Add(new SelectListItem
                    {
                        Text = "What is your favorite color?",
                        Value = "What is your favorite color?"
                    });
                    question1.Add(new SelectListItem
                    {
                        Text = "What city were you born in?",
                        Value = "What city were you born in?",
                    });
                    question1.Add(new SelectListItem
                    {
                        Text = "What is your mother's maiden name?",
                        Value = "What is your mother's maiden name?"
                    });
                    question1.Add(new SelectListItem
                    {
                        Text = "What was your Elementry school name?",
                        Value = "What was your Elementry school name?"
                    });
                }


                @Html.LabelFor(model => model.securityQuestionOne, new { @class = "control-label col-xs-2" })
                <div class="col-xs-10">
                    @Html.DropDownListFor(model => model.securityQuestionOne, question1, "-- Select a Security Question --")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.answerOne, new { @class = "control-label col-xs-2" })
                <div class="col-xs-10">
                    @Html.EditorFor(model => model.answerOne, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @{
                    List<SelectListItem> question2 = new List<SelectListItem>();
                    question2.Add(new SelectListItem
                    {
                        Text = "What is your favorite color?",
                        Value = "What is your favorite color?"
                    });
                    question2.Add(new SelectListItem
                    {
                        Text = "What city were you born in?",
                        Value = "What city were you born in?",
                    });
                    question2.Add(new SelectListItem
                    {
                        Text = "What is your mother's maiden name?",
                        Value = "What is your mother's maiden name?"
                    });
                    question2.Add(new SelectListItem
                    {
                        Text = "What was your Elementry school name?",
                        Value = "What was your Elementry school name?"
                    });
                }


                @Html.LabelFor(model => model.securityQuestionTwo, new { @class = "control-label col-xs-2" })
                <div class="col-xs-10">
                    @Html.DropDownListFor(model => model.securityQuestionTwo, question2, "-- Select a Security Question --")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.answerTwo, new { @class = "control-label col-xs-2" })
                <div class="col-xs-10">
                    @Html.EditorFor(model => model.answerTwo, new { @class = "form-control" })
                </div>
            </div>

            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
