<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/lightbox.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/daterangepicker.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

    <script src="~/js/jquery-2.2.1.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/fullcalendar.js"></script>
    <script src="~/js/daterangepicker.js"></script>
    <link rel="stylesheet" href="~/css/fullcalendar.css" />
</head>
<body>

    <div class="topNav">
        <div class="container" id="TopNavContainer">
            <ul class="hidden-xs">
                @{
                    if (ViewBag.AuthUser == "Admin")
                    {
                        <li><a href="~/Admin">Admin</a></li>
                    }
                    if (ViewBag.AuthUser == "RegisteredUser" || ViewBag.AuthUser == "Admin")
                    {
                        <li><a href="~/Events">Events</a></li>
                    }
                }
                <li><a href="~/SignUp">Club Signup</a></li>
                <li><a href="~/History">History</a></li>
                <li><a href="~/About">About</a></li>
                <li><a href="~/App/Index">Home</a></li>
            </ul>

            <ul class="NavBarLeftItems">
                @if (@ViewBag.Email != null && @ViewBag.Password != null)
                {
                    <li style="float:left"><a href="~/EditUser">Welcome @ViewBag.DisplayName</a></li>
                    <li style="float:left">
                        <a class="glyphicon glyphicon-log-out" @Html.ActionLink("Logout", "Logout")></a>
                    </li>
                }
                else
                {
                    <li style="float:left"><a href="~/Register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                    <li style="float:left"><a href="~/App/Index"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                }
            </ul>

            <div class="dropdown visible-xs ">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="MenuButton" style="float:right">
                    MENU
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="NavBarDropdown">

                    @{
                        if (ViewBag.AuthUser == "Admin")
                        {
                            <li><a href="~/Admin">Admin</a></li>
                        }
                        if (ViewBag.AuthUser == "RegisteredUser" || ViewBag.AuthUser == "Admin")
                        {
                            <li><a href="~/Events">Events</a></li>
                        }
                    }
                    <li><a href="~/History">History</a></li>
                    <li><a href="~/About">About</a></li>
                    <li><a href="~/App/Index">Home</a></li>
                </ul>

                <ul class="NavBarLeftItems">

                    @if (@ViewBag.Email != null && @ViewBag.Password != null)
                    {
                        <li style="float:left"><a href="~/EditUser">Welcome @ViewBag.DisplayName</a></li>
                        <li style="float:left">
                            <a class="glyphicon glyphicon-log-out" @Html.ActionLink("Logout", "Logout")></a>
                        </li>
                    }
                    else
                    {
                        <li style="float:left"><a href="~/Register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                        <li style="float:left"><a href="~/App/Index"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    @*<canvas id="canvas"></canvas>*@
    <div>
        @RenderBody()
    </div>

    <div id="footer">
        &copy; @DateTime.Now.Year Gateway Z Club
        <p style="float:right">Like us on Facebook! <a href="https://www.facebook.com/gatewayzclub/"><img src="~/Images/facebooklogo.jpg" alt="facebook logo" class="img-rounded" width="25" height="25" /></a></p>
    </div>

    <script src="~/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/lightbox.js"></script>
    <script>
        window.onload = function () {
            //canvas init
            var canvas = document.getElementById("canvas");
            var ctx = canvas.getContext("2d");

            //canvas dimensions
            var W = window.innerWidth;
            var H = window.innerHeight;
            canvas.width = W;
            canvas.height = H;

            //snowflake particles
            var mp = 25; //max particles
            var particles = [];
            for (var i = 0; i < mp; i++) {
                particles.push({
                    x: Math.random() * W, //x-coordinate
                    y: Math.random() * H, //y-coordinate
                    r: Math.random() * 4 + 1, //radius
                    d: Math.random() * mp //density
                })
            }

            //Lets draw the flakes
            function draw() {
                ctx.clearRect(0, 0, W, H);

                ctx.fillStyle = "rgba(255, 255, 255, 0.8)";
                ctx.beginPath();
                for (var i = 0; i < mp; i++) {
                    var p = particles[i];
                    ctx.moveTo(p.x, p.y);
                    ctx.arc(p.x, p.y, p.r, 0, Math.PI * 2, true);
                }
                ctx.fill();
                update();
            }

            //Function to move the snowflakes
            //angle will be an ongoing incremental flag. Sin and Cos functions will be applied to it to create vertical and horizontal movements of the flakes
            var angle = 0;
            function update() {
                angle += 0.01;
                for (var i = 0; i < mp; i++) {
                    var p = particles[i];
                    //Updating X and Y coordinates
                    //We will add 1 to the cos function to prevent negative values which will lead flakes to move upwards
                    //Every particle has its own density which can be used to make the downward movement different for each flake
                    //Lets make it more random by adding in the radius
                    p.y += Math.cos(angle + p.d) + 1 + p.r / 2;
                    p.x += Math.sin(angle) * 2;

                    //Sending flakes back from the top when it exits
                    //Lets make it a bit more organic and let flakes enter from the left and right also.
                    if (p.x > W + 5 || p.x < -5 || p.y > H) {
                        if (i % 3 > 0) //66.67% of the flakes
                        {
                            particles[i] = { x: Math.random() * W, y: -10, r: p.r, d: p.d };
                        }
                        else {
                            //If the flake is exitting from the right
                            if (Math.sin(angle) > 0) {
                                //Enter from the left
                                particles[i] = { x: -5, y: Math.random() * H, r: p.r, d: p.d };
                            }
                            else {
                                //Enter from the right
                                particles[i] = { x: W + 5, y: Math.random() * H, r: p.r, d: p.d };
                            }
                        }
                    }
                }
            }

            //animation loop
            setInterval(draw, 33);
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>