<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="~/js/jquery-2.2.1.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/fullcalendar.js"></script>
    <link rel="stylesheet" href="~/css/fullcalendar.css" />
</head>
<body>
    <div class="topNav">
        <ul>
            <li><a href="~/App/Admin">Admin</a></li>
            <li><a href="~/App/Gallery">Gallery</a></li>
            <li><a href="~/App/Members">Members</a></li>
            <li><a href="~/App/Events">Events</a></li>
            <li><a href="~/App/History">History</a></li>
            <li><a href="~/App/About">About</a></li>
            <li><a href="~/App/Index">Home</a></li>

            @if (@ViewBag.Email != null && @ViewBag.Password != null)
            {
                <li style="float:left"><a>Welcome @ViewBag.Email</a></li>
                <li style="float:left">
                    <a class="glyphicon glyphicon-log-out"@Html.ActionLink("Logout", "Logout")></a>                     
                </li>
            }
            else
            {
                <li style="float:left"><a href="~/App/Register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                <li style="float:left"><a href="~/App/Index"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            }   
        </ul>
        
    </div>

    <div>
        @RenderBody()
    </div>

    <div id="footer">
        &copy; @DateTime.Now.Year Gateway Z Club
        <p style="float:right">Like us on Facebook! <a href="https://www.facebook.com/gatewayzclub/"><img src="~/Images/facebooklogo.jpg" alt="facebook logo" class="img-rounded" width="25" height="25" /></a></p>
    </div>

    <script src="~/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/jquery-2.2.1.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/js/fullcalendar.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
