@{
    ViewBag.Title = "Register Page";
}

@model GatewayZ.Models.User

<div class="container-fluid RegisterPageContainer">
    <div class="row">
        <div class="col-xs-2 col-sm-4">
        </div>
        <div class="col-xs-8">
            <div class="RegisterInfoBackground">
                <div class="RegisterInfoBackgroundHeader">
                    <h1>Register Account</h1>
                </div>

                <div class="centerForm" id="RegisterInfoBackgroundForm">
                    @Html.ValidationSummary(true)
                    @using (Html.BeginForm("/Index", "/Register", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            @Html.LabelFor(model => model.firstName, new { @class = "control-label col-xs-4", @style = "text-align:left" })
                            @Html.TextBoxFor(model => model.firstName, new { @class = "form-control col-xs-3", @style = "text-align:left" })
                            <span style="color:red">@Html.ValidationMessageFor(model => model.firstName)</span>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.lastName, new { @class = "control-label col-xs-4", @style = "text-align:left" })
                            @Html.TextBoxFor(model => model.lastName, new { @class = "form-control col-xs-3", @style = "text-align:left" })
                            <span style="color:red">@Html.ValidationMessageFor(model => model.lastName)</span>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.email, new { @class = "control-label col-xs-4", @style = "text-align:left" })
                            @Html.TextBoxFor(model => model.email, new { @class = "form-control col-xs-3", @style = "text-align:left" })
                            <span style="color:red">@Html.ValidationMessageFor(model => model.email)</span>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.phoneNumber, new { @class = "control-label col-xs-5", @style = "text-align:left" })
                            @Html.TextBoxFor(model => model.phoneNumber, new { @class = "form-control col-xs-1", @style = "text-align:left" })
                            <span style="color:red">@Html.ValidationMessageFor(model => model.phoneNumber)</span>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.displayName, new { @class = "control-label col-xs-5", @style = "text-align:left" })
                            @Html.TextBoxFor(model => model.displayName, new { @class = "form-control col-xs-3", @style = "text-align:left" })
                            <span style="color:red">@Html.ValidationMessageFor(model => model.displayName)</span>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.password, new { @class = "control-label col-xs-3", @style = "text-align:left" })
                            <div class="col-xs-7">
                                @Html.PasswordFor(model => model.password, new { @class = "form-control", @style = "text-align:left" })

                                <span class="help-inline pull-left" style="color:red">@Html.ValidationMessageFor(model => model.password)</span>
                            </div>
                        </div>

                        <div class="form-group">
                            @{
                                List<SelectListItem> question1 = new List<SelectListItem>();
                                question1.Add(new SelectListItem
                                {
                                    Text = "What is your favorite color?",
                                    Value = "What is your favorite color?"
                                });
                                question1.Add(new SelectListItem
                                {
                                    Text = "What city were you born in?",
                                    Value = "What city were you born in?",
                                });
                                question1.Add(new SelectListItem
                                {
                                    Text = "What is your mother's maiden name?",
                                    Value = "What is your mother's maiden name?"
                                });
                                question1.Add(new SelectListItem
                                {
                                    Text = "What was your Elementry school name?",
                                    Value = "What was your Elementry school name?"
                                });
                            }

                            @Html.LabelFor(model => model.securityQuestionOne, new { @class = "control-label col-xs-6", @style = "text-align:left" })
                            <div class="col-xs-3" style = "text-align:left">
                                @Html.DropDownListFor(model => model.securityQuestionOne, question1, "-- Select a Security Question --")
                                <span style="color:red">@Html.ValidationMessageFor(model => model.securityQuestionOne)</span>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.answerOne, new { @class = "control-label col-xs-6", @style = "text-align:left" })
                            @Html.TextBoxFor(model => model.answerOne, new { @class = "form-control col-xs-3", @style = "text-align:left" })
                            <span style="color:red">@Html.ValidationMessageFor(model => model.answerOne)</span>
                        </div>

                        <div class="form-group">
                            @{
                                List<SelectListItem> question2 = new List<SelectListItem>();
                                question2.Add(new SelectListItem
                                {
                                    Text = "What is your favorite color?",
                                    Value = "What is your favorite color?"
                                });
                                question2.Add(new SelectListItem
                                {
                                    Text = "What city were you born in?",
                                    Value = "What city were you born in?",
                                });
                                question2.Add(new SelectListItem
                                {
                                    Text = "What is your mother's maiden name?",
                                    Value = "What is your mother's maiden name?"
                                });
                                question2.Add(new SelectListItem
                                {
                                    Text = "What was your Elementry school name?",
                                    Value = "What was your Elementry school name?"
                                });
                            }

                            @Html.LabelFor(model => model.securityQuestionTwo, new { @class = "control-label col-xs-6", @style = "text-align:left" })
                            <div class="col-xs-3" style = "text-align:left">
                                @Html.DropDownListFor(model => model.securityQuestionTwo, question2, "-- Select a Security Question --")
                                <span style="color:red">@Html.ValidationMessageFor(model => model.securityQuestionTwo)</span>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.answerTwo, new { @class = "control-label col-xs-6", @style = "text-align:left" })
                            @Html.TextBoxFor(model => model.answerTwo, new { @class = "form-control col-xs-3", @style = "text-align:left" })
                            <span style="color:red">@Html.ValidationMessageFor(model => model.answerTwo)</span>
                        </div>

                        <div style="text-align:center">
                            <input type="submit" value="Submit" class="btn btn-default" />
                        </div>
                        }
                </div>
            </div>
        </div>
    </div>
</div>